$max-width: 1180px;
$gap: 20px;
$columns: 12;
$breakpoints: small false 767 s, medium 768 1024 m, large 1025 1180 l, row 1180 false r;
$column-name: "col";
$offset-name: "o";

$white: #ffffff;
$black: #000000;

$primary: #10305F;
$accent: #EF420C;
$neutrals: #F5FAFC;
$neutrals2: #DEE6EA;
$neutrals3: #EBF1F4;
$neutrals4: #899AAE;