<footer class="main-footer">
    <section class="more">
        <h2>Więcej o nas</h2>
        <p>Jeśli chcesz dowiedzieć się więcej o naszych działaniach w ramach walki z dezinformacją, zapraszamy na stronę Akademii Fact-Checkingu. Zachęcamy również do podzielenia się opinią o grze “Fajnie, że wiesz” wysyłając wiadomość na adres: <a href="mailto:fajniezewiesz@gmail.com">fajniezewiesz@gmail.com</a></p>
        <a href="https://demagog.org.pl/" class="button button--primary">Poznaj Demagoga</a>
        <div class="ornaments ornaments--left">
            <img class="lazy image rellax" alt="" role="presentation" src="images/placeholder.png" data-src="images/Cylinder_X3_Light_Blue.png" data-rellax-speed="-1">
            <img class="lazy image rellax" alt="" role="presentation" src="images/placeholder.png" data-src="images/Cylinder_X3_Blue.png" data-rellax-speed="-2">
            <img class="lazy image rellax" alt="" role="presentation" src="images/placeholder.png" data-src="images/Cube_Rounded_Orange.png" data-rellax-speed="0">
        </div>
        <div class="ornaments ornaments--right">
            <img class="lazy image " alt="" role="presentation" src="images/placeholder.png" data-src="images/Torus_X3_Orange.png" data-rellax-speed="-2">
            <img class="lazy image rellax" alt="" role="presentation" src="images/placeholder.png" data-src="images/Sphere_Blue.png" data-rellax-speed="1">
        </div>
    </section>
    <section class="bottom">
        <div class="row">
            <div class="col">
                <h3>To jak, Gramy?</h3>
                <p>Zagraj w edukacyjną grę “Fajnie, że wiesz” i uodpornij się na fake newsy!</p>
                <a href="https://aplikacja.fajniezewiesz.pl/" class="button">Tak, gramy!</a>
            </div>
        </div>
        <div class="bottom__credits">
            <div class="item">
                <span>Made with {% include "images/heart.svg" %} by</span>
                <div class="item__ico">
                    <img class="lazy image" alt="Fajnie, że wiesz" src="images/placeholder.png" data-src="images/logo.svg">
                </div>
            </div>
            <div class="item">
                <span>Powered by</span>
                <div class="item__ico">
                    <a href="https://demagog.org.pl/">
                        <img class="lazy image" alt="Demoagog" src="images/placeholder.png" data-srcset="images/Demagog.png 1x, images/Demagog@2x.png 2x">
                    </a>
                </div>
            </div>
        </div>
    </section>
</footer>

<div class="cookie-bar">
   <div class="row">
        <div class="col">
            <p>
                Nasza strona internetowa używa plików cookies (tzw. ciasteczka) w celach statystycznych, reklamowych oraz funkcjonalnych. Dowiedz się <a href="https://wszystkoociasteczkach.pl/" rel="nofollow noopener noreferrer" target="_blank">więcej</a> jak je wyłączyć.
            </p>
            <a href="#" class="close-cookie">&times;</a>
        </div>
   </div>
</div>

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="/bower_components/vanilla-lazyload/dist/lazyload.min.js"></script>
<script src="/bower_components/js-cookie/src/js.cookie.js"></script>
<!-- endbower -->
<!-- npm:js -->
<script src="/node_modules/rellax/rellax.js"></script>
<!-- endnpm -->
<!-- endbuild -->

<!-- build:js scripts/main.js -->
<script src="{{ theme.link }}/scripts/_ajax.js"></script>
<script src="{{ theme.link }}/scripts/main.js"></script>
<!-- endbuild -->

</body>
</html>
