<!DOCTYPE html>
<html lang="{{ site.language }}">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="user-scalable=yes, width=device-width, initial-scale=1, maximum-scale=1">
      <link rel="shortcut icon" type="image/svg+xml" href="images/logo.svg"/>
      <title>Fajnie, że wiesz!</title>

      <!-- build:css {{ theme.link }}/styles/main.css -->
      <link rel="stylesheet" href="/styles/main.css">
      <!-- endbuild -->

      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,700;1,400&amp;display=swap" rel="stylesheet">

      <meta property="og:title" content="Fajnie, że wiesz!">
      <meta property="og:description" content="Coraz więcej słyszysz o fake newsach, ale nie wiesz jak się przed nimi bronić? Naucz się tego z naszą edukacyjną grą „Fajnie, że wiesz!”">
      <meta property="og:type" content="website">
      <meta property="og:url" content="https://fajniezewiesz.pl/">
      <meta property="og:image:url" content="http://fajniezewiesz.pl/images/og_share.jpg">
      <meta property="og:image:secure_url" content="https://fajniezewiesz.pl/images/og_share.jpg">

      <meta property="fb:app_id" content="3589564597786832">

      <meta property="twitter:card" content="summary_large_image">
      <meta property="twitter:site" content="@DemagogPL">
      <meta property="twitter:creator" content="@DemagogPL">
      <meta property="twitter:title" content="Fajnie, że wiesz!">
      <meta property="twitter:description" content="Coraz więcej słyszysz o fake newsach, ale nie wiesz jak się przed nimi bronić? Naucz się tego z naszą edukacyjną grą „Fajnie, że wiesz”!">
      <meta property="twitter:image" content="https://fajniezewiesz.pl/images/og_share.jpg">

      <meta name="description" content="Coraz więcej słyszysz o fake newsach, ale nie wiesz jak się przed nimi bronić? Naucz się tego z naszą edukacyjną grą „Fajnie, że wiesz”!">
      <meta name="keywords" content="Fake news, Fact checking, Quiz, Demagog">
      <meta name="author" content="Stowarzyszenie Demagog">
   </head>
   <body>
