{% include "_parts/header.twig" %}

<main class="page page--home">
   <header class="main-header">
      <div class="row">
         <div class="large-12">
            <div class="ornaments ornaments--left">
               <img class="lazy rellax" alt="" role="presentation" src="images/placeholder.png" data-src="images/Cube_Rounded_Light_Blue.png" data-rellax-speed="-3">
               <img class="lazy rellax" alt="" role="presentation" src="images/placeholder.png" data-src="images/Torus_X3_Orange.png" data-rellax-speed="-4">
               <img class="lazy rellax" alt="" role="presentation" src="images/placeholder.png" data-src="images/Cylinder_X3_Orange.png" data-rellax-speed="-1">
            </div>
            <div class="ornaments ornaments--right">
               <img class="lazy rellax" alt="" role="presentation" src="images/placeholder.png" data-src="images/Sphere_Blue.png" data-rellax-speed="1">
               <img class="lazy rellax" alt="" role="presentation" src="images/placeholder.png" data-src="images/Cylinder_X2_Orange.png" data-rellax-speed="-3">
               <img class="lazy rellax" alt="" role="presentation" src="images/placeholder.png" data-src="images/Torus_X3_Light_Blue.png" data-rellax-speed="-2">
               <img class="lazy rellax" alt="" role="presentation" src="images/placeholder.png" data-src="images/Sphere_Orange.png" data-rellax-speed="-2">
            </div>
            <a href="" class="logo">{% include "images/logo.svg" %}</a>
            <h1>Nie daj się wkręcić w fake newsy!</h1>
            <p>Zagraj w edukacyjną grę przygotowaną przez zespół Demagog.org.pl i uodpornij się na fake newsy</p>
            <a href="#jak-to-dziala" class="scroll-to">{% include "images/arrow.svg" %}</a>
         </div>
   </header>

   <section class="about" id="jak-to-dziala">
      <div class="row">
         <div class="col">
            <h2>Jak to działa?</h2>
            <ol>
               <li>Poznaj kilka wskazówek, które pomogą Ci odróżniać fałszywe informacje od prawdziwych.</li>
               <li>Sprawdź się! Wybierz kategorię tematyczną i zagraj w nasz quiz. Oceń co jest fake newsem na podstawie prawdziwych przykładów z internetu.</li>
            </ol>
            <a href="https://aplikacja.fajniezewiesz.pl/" class="button">OK, GRAMY!</a>
         </div>
      </div>
      <img class="lazy image" alt="" src="images/placeholder.png" data-srcset="images/home.png 1x, images/home@2x.png 2x">
      <div class="ornaments">
         <img class="lazy rellax" alt="" role="presentation" src="images/placeholder.png" data-src="images/Torus_X3_Orange_I.png" data-rellax-speed="-2">
         <img class="lazy rellax" alt="" role="presentation" src="images/placeholder.png" data-src="images/Cylinder_X3_Light_Blue.png" data-rellax-speed="2">
         <img class="lazy rellax" alt="" role="presentation" src="images/placeholder.png" data-src="images/Sphere_Blue.png" data-rellax-speed="1">
         <img class="lazy rellax" alt="" role="presentation" src="images/placeholder.png" data-src="images/Torus_X3_Light_Blue.png" data-rellax-speed="2">
      </div>
   </section>

   <section class="team">
      <div class="row">
         <div class="col l-6">
            <h2>Poznaj nas!</h2>
            <p>Pomysł stworzenia aplikacji narodził się podczas hackathonu Edukaton, który odbył się w Warszawie 16 lutego 2018 r.</p>
            <p>To wtedy zespół <a href="https://demagog.org.pl/" target="_blank" rel="noopener noreferrer">Stowarzyszenia Demagog</a> w składzie: Gosia, Andrzej, Filip, Michał, Patryk i Rafał stworzył proste narzędzie edukacyjne, które zostało docenione przez jury i wyróżnione nagrodą główną. Po Edukatonie zespół Fajnie, że wiesz postanowił nadal rozwijać grę, aby jeszcze skuteczniej walczyć z fake news!</p>
         </div>
         <div class="col l-6">
            <img class="lazy image" alt="" src="images/placeholder.png" data-src="images/team.jpg">
         </div>
      </div>
   </section>
</main>

{% include "_parts/footer.twig" %}