{% include "_parts/header.twig" %}
<main class="page page--content">
   <header class="main-header">
      <a href="#menu" class="hamburger hamburger--slider" type="button">
         <span class="hamburger-box">
            <span class="hamburger-inner"></span>
         </span>
      </a>
      <div class="row">
         <div class="large-12">
            <nav>
               <ul>
                  <li><a href="o-demagogu.html">O Demagogu</a></li>
                  <li><a href="partnerzy.html">Partnerzy</a></li>
                  <li class="current"><a href="rozwijaj-gre.html">Rozwijaj grę!</a></li>
                  <li><a href="kontakt.html">Kontakt</a></li>
                  <li><a href="https://aplikacja.fajniezewiesz.pl" traget="_blank">Zagraj</a></li>
               </ul>
               <div class="langs">
                  <a href="https://fakesnothanks.pl">{% include "images/en.svg" %}</a>
                  <a href="#" class="current">{% include "images/pl.svg" %}</a>
               </div>
            </nav>
            <div class="ornaments ornaments--left">
               <img class="lazy rellax" alt="" role="presentation" src="images/placeholder.png" data-src="images/Cube_Rounded_Light_Blue.png" data-rellax-speed="-3">
               <img class="lazy rellax" alt="" role="presentation" src="images/placeholder.png" data-src="images/Torus_X3_Orange.png" data-rellax-speed="-4">
               <img class="lazy rellax" alt="" role="presentation" src="images/placeholder.png" data-src="images/Cylinder_X3_Orange.png" data-rellax-speed="-1">
            </div>
            <div class="ornaments ornaments--right">
               <img class="lazy rellax" alt="" role="presentation" src="images/placeholder.png" data-src="images/Sphere_Blue.png" data-rellax-speed="1">
               <img class="lazy rellax" alt="" role="presentation" src="images/placeholder.png" data-src="images/Cylinder_X2_Orange.png" data-rellax-speed="-3">
               <img class="lazy rellax" alt="" role="presentation" src="images/placeholder.png" data-src="images/Torus_X3_Light_Blue.png" data-rellax-speed="-2">
               <img class="lazy rellax" alt="" role="presentation" src="images/placeholder.png" data-src="images/Sphere_Orange.png" data-rellax-speed="-2">
            </div>
            <a href="/" class="logo">{% include "images/logo.svg" %}</a>
         </div>
   </header>

   <section class="content">
      <div class="row">
         <div class="col">
            <h2>Rozwijaj grę!</h2>
         </div>
         <div class="col m-6">
            <p>Gra Fajnie, że wiesz powstała, dzięki pracy wolontariuszy. Jeśli chcesz do nas dołączyć, lub masz pomysł jak dalej rozwijać grę - napisz do nas.</p>

            <p><strong>Poszukujemy:</strong></p>

            <ul>
               <li>programistów</li>
               <li>analityków</li>
               <li>partnerów instytucjonalnych</li>
            </ul>
         </div>
      </div>
   </section>
</main>

{% include "_parts/footer.twig" %}